.about-us__heading {
  font-weight: 400;
  color: #ffffff;
}

// =============================== Tablet =========================

@media (max-width: @desktop) {
  .about-us__heading {
    font-size: 22px;
    line-height: auto;
  }
}
