.container {
  position: relative;

  max-width: @desktop;
  margin: 0 auto;
  padding: 0 15px;
}

// ====================== Tablet ======================

@media (max-width: @desktop) {
  .container {
    padding: 0 37px;
  }
}

// ====================== Mobile ======================

@media (max-width: @tablet) {
  .container {
    padding: 0 15px;
  }
}
