.contacts {
  background: #182c3d url("../img/contacts_bg.jpg") no-repeat right -30px;

  .container {
    background-image: none;
  }
}

.contacts__content-wrapper {
  margin-left: -15px;
  padding: 70px 25px 80px;
  width: calc(50% + 15px);

  background-color: #182c3d;
}

.contacts__question {
  display: block;
  padding-bottom: 20px;
  max-width: 480px;

  font-family: @PlayfairDisplay;
  font-weight: 700;
  font-size: 40px;
  line-height: 44px;
  color: #ffffff;
  letter-spacing: 0.9px;

  br {
    display: none;
  }

  @media (max-width: 1050px) {
    font-size: 34px;
  }
}

.contacts__request {
  .indent-reset;
  max-width: 480px;

  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.7);
  letter-spacing: 0.8px;
}

.contacts__form {
  padding-top: 20px;
  max-width: 480px;
}

.contacts__item {
  .indent-reset;
  position: relative;
  margin-bottom: 25px;
}

.contacts__input {
  padding-left: 5px;
  padding-right: 50px;
  width: 100%;
  height: 45px;

  font-size: 14px;
  line-height: 18px;
  color: #ffffff;

  border: none;
  border-bottom: 2px solid rgba(253, 229, 209, 0.53);
  background-color: transparent;

  &::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.6);
  }

  &::-moz-placeholder {
    color: rgba(255, 255, 255, 0.6);
  }

  &:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.6);
  }
}

.contacts__icon {
  position: absolute;
  top: 10px;
  right: 5px;

  opacity: 0.6;

  &--name {
    width: 18px;
    height: 20px;

    background: url("../img/input_name.png") no-repeat;
  }

  &--phone {
    width: 20px;
    height: 20px;

    background: url("../img/input_phone.png") no-repeat;
  }

  &--email {
    top: 13px;
    width: 22px;
    height: 16px;

    background: url("../img/input_email.png") no-repeat;
  }
}

.contacts__button {
  margin-top: 25px;
  margin-bottom: 20px;
  padding: 23px 50px 21px;
  width: 100%;

  font-weight: 800;
  font-size: 15px;
  line-height: 16px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 2.5px;


  border: 2px solid #ffffff;
  border-radius: 5px;
  background-color: transparent;

  cursor: pointer;
}

.contacts__notice {
  display: block;

  font-size: 14px;
  line-height: 18px;
  color: rgba(255, 255, 255, 0.7);
  letter-spacing: 0.8px;
  text-align: center;
}

// =============================== Tablet =========================

@media (max-width: @desktop) {
  .contacts {
    background: #182c3d url("../img/contacts_bg-tablet.jpg") no-repeat center bottom;
  }

  .contacts__content-wrapper {
    margin-left: 0;
    padding: 70px 20px 85px;
    width: auto;

    background-color: transparent;
  }

  .contacts__question {
    display: block;
    font-size: 45px;
    line-height: 52px;
    text-align: center;
    max-width: none;

    br {
      display: block;
    }
  }

  .contacts__request {
    margin: 0 auto;
    width: 475px;

    font-size: 22px;
    text-align: center;
  }

  .contacts__form {
    margin: 0 auto;
    padding-top: 40px;
    width: 475px;
  }

  .contacts__item {
    margin-bottom: 35px;
  }

  .contacts__input {
    font-size: 18px;
  }

  .contacts__button {
    margin-bottom: 15px;
    padding: 28px 50px 25px;

    font-size: 18px;
    line-height: 18px;

    border: none;
    background-color: #f8a25a;
  }

  .contacts__notice {
    font-size: 18px;
    text-align: center;
  }
}

// =============================== Mobile =========================

@media (max-width: @tablet) {
  .contacts__content-wrapper {
    padding: 80px 0 100px;
    width: auto;

    background-color: transparent;
  }

  .contacts__question {
    br {
      display: none;
    }
  }

  .contacts__request {
    width: auto;
    max-width: 500px;
    font-size: 18px;
  }

  .contacts__form {
    padding-top: 35px;
    width: auto;
    max-width: 500px;
  }

  .contacts__item {
    margin-bottom: 45px;
  }

  .contacts__button {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .contacts__notice {
    font-size: 16px;
  }
}
