.header-menu {
  position: absolute;
  top: 85px;
  left: 15px;

  width: calc(100% - 30px);
  height: 0;
  background-color: #112537;

  z-index: 3;

  transition: 0.5s;
  overflow: hidden;

  &--opened {
    height: 595px;
  }
}

.header-menu__list {
  .list-reset;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 125px;
  height: 100%;
}

.header-menu__item {
  margin-bottom: 20px;
}

.header-menu__item a {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 600;
  font-size: 20px;
  line-height: 42px;
  text-transform: uppercase;
  letter-spacing: 2.2px;

  &:hover,
  &:focus {
    color: #f8a25a;
  }
}

// =============================== Tablet =========================

@media (max-width: @desktop) {
  .header-menu {
    top: 0;
    left: 0;

    width: 100%;

    &--opened {
      height: 100%;
    }
  }

  .header-menu__list {
    padding-top: 230px;
  }

  .header-menu__item {
    margin-bottom: 55px;
  }

  .header-menu__item a {
    font-size: 35px;
    color: rgba(255, 255, 255, 1);
    letter-spacing: 3.5px;
  }
}

// =============================== Mobile =========================

@media (max-width: @tablet) {
  .header-menu__list {
    padding-top: 110px;
  }

  .header-menu__item {
    margin-bottom: 18px;
  }

  .header-menu__item a {
    font-size: 20px;
    letter-spacing: 2px;
  }
}
