.page-header__heading {
  font-family: @PlayfairDisplay;
  font-weight: 700;
  font-size: 64px;
  line-height: 59px;
  color: #ffffff;
}

.page-header__phone {
  font-family: @Muller;
  font-weight: 300;
  font-size: 14px;
  line-height: auto;
}
