.portfolio {
  position: relative;

  .container {
    padding-top: 105px;
  }
}

.portfolio__heading {
  .indent-reset;
  padding-left: 5px;
  padding-bottom: 60px;

  font-family: @PlayfairDisplay;
  font-weight: 700;
  font-size: 45px;
  line-height: auto;
  color: #00203a;
  letter-spacing: 0.5px;
}

.portfolio__navigation {
  .list-reset;
  margin-bottom: 50px;
  display: flex;
}

.portfolio__navigation-item {
  margin-right: 60px;

  &--active {
    border-bottom: 1px solid #182c3d;
  }
}

.portfolio__navigation-button {
  padding: 0;
  padding-bottom: 10px;

  font-family: @Raleway;
  font-weight: 300;
  font-size: 22px;
  line-height: auto;
  color: #807f7f;

  border: none;
  outline: none;
  background-color: transparent;

  cursor: pointer;

  &:hover,
  &:focus {
    color: #00203a;
  }

  &--active {
    animation: activate-link 1s;
    font-weight: 600;
    color: #00203a;
    border-bottom: 1px solid #182c3d;
  }
}

.portfolio__slider {
  overflow: hidden;
  height: 552px;

  .slick-arrow {
    position: absolute;
    top: calc(50% - 6px);
    left: 35px;

    width: 38px;
    height: 13px;

    font-size: 0;

    background-color: transparent;
    background-image: url("../img/other/arrow_slider.png");
    border: none;
    outline: none;
    opacity: 0.5;

    transition: opacity 0.5s;

    cursor: pointer;
    z-index: 1;

    &:hover,
    &:focus {
      opacity: 1;
    }
  }

  .slick-next {
    left: auto;
    right: 35px;
    transform: rotate(180deg);
  }

  .slick-disabled {
    display: none;
  }
}

.portfolio__item {
  position: relative;
  height: 552px;

  outline: none;

  overflow: hidden;
  transition: width 1s;

  picture {
    width: 100%;
    height: 390px;
  }

  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    /* stylelint-disable */
    font-family: 'object-fit: cover;';
    /* stylelint-enable */
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(24, 44, 61, 0.8);
    transition: background-color 0.5s;
    content: "";
  }

  &:hover,
  &:focus {
    .portfolio__item-heading,
    .portfolio__item-class {
      color: transparent;
    }

    &::before {
      background-color: transparent;
    }

    .portfolio__item-preview {
      opacity: 1;

      transition: opacity 1s;
    }
  }
}

.portfolio__item-heading {
  position: absolute;
  top: 10px;
  left: 30px;
  width: 175px;

  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  letter-spacing: 0.8px;

  transition: color 2s;
}

.portfolio__item-class {
  position: absolute;
  left: -30px;
  bottom: 85px;

  font-family: @Muller;
  font-weight: 100;
  font-size: 14px;
  line-height: auto;
  color: #ffffff;
  letter-spacing: 0.8px;

  transform: rotate(-90deg);
  transition: color 2s;
}

.portfolio__item-preview {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 84px;
  height: 84px;

  border-radius: 50%;
  background-color: rgba(254, 188, 128, 0.9);
  opacity: 0;

  &::before,
  &::after {
    position: absolute;
    top: 42px;
    left: 29px;

    width: 26px;
    height: 2px;

    background-color: rgba(255, 255, 255, 0.7);

    content: "";
  }

  &::after {
    transform: rotate(90deg);
  }
}

// =============================== Tablet =========================

@media (max-width: @desktop) {
  .portfolio {
    .container {
      padding-top: 160px;
    }
  }

  .portfolio__heading {
    padding-bottom: 40px;
  }

  .portfolio__navigation {
    margin-bottom: 45px;
    justify-content: space-between;
  }

  .portfolio__navigation-item {
    margin-right: 0;
    padding-bottom: 0;

    &--active {
      border-bottom: none;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .portfolio__navigation-item a {
    font-size: 22px;
  }

  .portfolio__slider {
    margin: 0 -37px;
    overflow: visible;
    height: auto;

    .slick-current {
      &::before {
        background-color: transparent;
      }
    }
  }

  .portfolio__item {
    height: auto;
    margin: 0 21px;

    &.slick-slide {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    picture {
      height: auto;
    }

    img {
      height: 610px;
      margin-bottom: 30px;
    }

    &:not(.slick-current):hover::before {
      background-color: rgba(24, 44, 61, 0.8);

      .portfolio__item-heading {
        display: none;
      }
    }

    &::before {
      height: 610px;
    }

    &:hover {
      .portfolio__item-heading {
        color: #00203a;
      }
    }
  }

  .portfolio__item-heading {
    position: static;
    width: 100%;
    order: 1;

    color: #00203a;
    font-size: 20px;
    text-align: center;
  }

  .portfolio__item-class {
    display: none;
  }

  .portfolio__item-preview {
    display: none;
  }
}

// =============================== Mobile =========================

@media (max-width: @tablet) {
  .portfolio {
    .container {
      padding-top: 50px;
    }
  }

  .portfolio__heading {
    margin-bottom: 5px;
  }

  .portfolio__navigation {
    margin-bottom: 15px;
    justify-content: flex-start;
    flex-direction: column;
  }

  .portfolio__navigation-item {
    margin-bottom: 16px;
  }

  .portfolio__slider {
    margin: 0 -15px;
  }

  .portfolio__item {
    margin: 0 8px;

    img,
    &::before {
      height: 530px;
    }

    img {
      margin-bottom: 5px;
    }

    &:not(.slick-current) {
      .portfolio__item-heading {
        opacity: 0;
      }
    }
  }

  .portfolio__item-heading {
    font-size: 18px;
    letter-spacing: 0.6px;

    transition: opacity 0.5s;
  }
}
