.present__slogan {
  margin-left: 100px;
  margin-bottom: 45px;
  width: 350px;

  font-family: @Muller;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  letter-spacing: 0.8px;
}

.present__order-button {
  position: relative;
  margin-left: 100px;
  padding: 20px 90px 20px 30px;

  font-weight: 800;
  font-size: 14px;
  line-height: auto;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1.7px;

  background-color: #f8a25a;

  &::before {
    position: absolute;
    top: 23px;
    right: 10%;

    width: 40px;
    height: 10px;

    background: url("../img/arrow_btn.svg") no-repeat;
    content: "";

    animation: arrow-right 0.8s ease-in-out alternate infinite;
  }
}

.present__slider {
  .list-reset;
  position: absolute;
  top: 85px;
  left: 20px;

  z-index: -2;
}

.present__socials-list {
  .list-reset;
  margin-top: 200px;
  margin-left: 5px;
  padding-bottom: 25px;
  display: flex;
}

.present__socials-link {
  display: block;
  margin-right: 35px;

  svg {
    fill: rgba(255, 255, 255, 0.7);
  }

  &:hover,
  &:focus {
    svg {
      fill: rgba(255, 255, 255, 1);
    }
  }
}

// =============================== Tablet =========================

@media (max-width: @desktop) {
  .present__slogan {
    font-size: 26px;
    line-height: auto;
  }

  .present__order-button {
    padding: 35px 60px;

    font-size: 30px;
  }
}

// =============================== Mobile =========================

@media (max-width: @tablet) {
  .present__slogan {
    font-size: 18px;
  }

  .present__order-button {
    padding: 15px 35px;

    font-size: 14px;
  }
}
