.present__slogan {
  font-family: @Muller;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
}

.present__order-button {
  padding: 20px 90px 20px 30px;

  font-weight: 800;
  font-size: 14px;
  line-height: auto;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #f8a25a;
}

// =============================== Tablet =========================

@media (max-width: @desktop) {
  .present__slogan {
    font-size: 26px;
    line-height: auto;
  }

  .present__order-button {
    padding: 35px 60px;

    font-size: 30px;
  }
}

// =============================== Mobile =========================

@media (max-width: @tablet) {
  .present__slogan {
    font-size: 18px;
  }

  .present__order-button {
    padding: 15px 35px;

    font-size: 14px;
  }
}
