.reviews {
  position: relative;

  .container {
    padding-top: 160px;
    padding-bottom: 245px;
  }
}

.reviews__heading {
  .indent-reset;
  margin-bottom: 90px;

  font-family: @PlayfairDisplay;
  font-weight: 700;
  font-size: 45px;
  line-height: auto;
  color: #00203a;
  letter-spacing: 0.6px;
}

.reviews__slider {
  .list-reset;
}

.reviews__slide {
  display: flex;
  justify-content: space-between;

  margin: 0 auto;
  padding: 45px 75px 35px;
  padding-right: 0;
  width: 793px;
  background-image: linear-gradient(to right, #ffffff 82%, transparent 82%);
}

.reviews__slide-text-wrapper {
  display: flex;
  flex-direction: column;
  width: 450px;
}

.reviews__author {
  margin-bottom: 10px;

  font-weight: 600;
  font-size: 22px;
  color: #313131;
}

.reviews__author-info {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #efb172;
  letter-spacing: 0.9px;
}

.reviews__text {
  .indent-reset;

  font-size: 16px;
  line-height: 25px;
  color: #5e5e5e;
  letter-spacing: 0.1px;
}

// =============================== Tablet =========================

@media (max-width: @desktop) {
  .reviews {
    .container {
      padding-top: 190px;
      padding-bottom: 220px;
    }
  }

  .reviews__heading {
    margin-bottom: 60px;
  }

  .reviews__slider {
    margin: 0 -37px;
    padding-left: 37px;
  }

  .reviews__slide {
    padding: 45px 65px 35px;
    padding-right: 0;
    width: 731px;
    background-image: linear-gradient(to right, #ffffff 89%, transparent 89%);
  }

  .reviews__photo {
    width: 187px;
    height: 192px;
    object-fit: cover;
    object-position: 0 0;
  }
}

// =============================== Mobile =========================

@media (max-width: @tablet) {
  .reviews {
    .container {
      padding-top: 135px;
      padding-bottom: 200px;
    }
  }

  .reviews__heading {
    margin-bottom: 75px;

    text-align: center;
    line-height: 54px;
  }

  .reviews__slider {
    .indent-reset;
  }

  .reviews__slide {
    flex-direction: column;
    align-items: center;
    padding: 0;
    padding-bottom: 50px;
    width: auto;
    background-image: none;
    background-color: #ffffff;
  }

  .reviews__slide-text-wrapper {
    width: auto;
  }

  .reviews__photo {
    margin-top: -35px;
    margin-bottom: 35px;
    order: -1;
    width: 215px;
    height: 192px;
  }

  .reviews__author {
    margin-bottom: 2px;
    font-size: 24px;
    text-align: center;
  }

  .reviews__author-info {
    font-size: 18px;
    line-height: auto;
    text-align: center;
  }

  .reviews__text {
    padding: 0 10px;

    font-size: 20px;
    line-height: 30px;
    text-align: center;
  }
}
