.reviews {
  .container {
    padding-top: 160px;
    padding-bottom: 245px;
  }
}

.reviews__heading {
  .indent-reset;
  margin-bottom: 90px;

  font-family: @PlayfairDisplay;
  font-weight: 700;
  font-size: 45px;
  line-height: auto;
  color: #00203a;
  letter-spacing: 0.6px;
}

.reviews__slider {
  .list-reset;
}

.reviews__slide {
  display: flex;
  justify-content: space-between;

  margin: 0 auto;
  padding: 45px 75px 35px;
  padding-right: 0;
  width: 793px;
  background-image: linear-gradient(to right, #ffffff 82%, transparent 82%);
}

.reviews__slide-text-wrapper {
  display: flex;
  flex-direction: column;
  width: 450px;
}

.reviews__author {
  margin-bottom: 10px;

  font-weight: 600;
  font-size: 22px;
  color: #313131;
}

.reviews__author-info {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #efb172;
  letter-spacing: 0.9px;
}

.reviews__text {
  .indent-reset;

  font-size: 16px;
  line-height: 25px;
  color: #5e5e5e;
  letter-spacing: 0.1px;
}

// =============================== Tablet =========================

// @media (max-width: @desktop) {

// }

// =============================== Mobile =========================

@media (max-width: @tablet) {
  .reviews__name {
    font-size: 24px;
  }

  .reviews__order-info {
    font-size: 18px;
    line-height: auto;
  }

  .reviews__text {
    font-size: 20px;
    line-height: 30px;
  }
}
