.service__heading {
  font-family: @PlayfairDisplay;
  font-weight: 700;
  font-size: 45px;
  line-height: auto;
  color: #00203a;
}

.service__menu-list {
  .list-reset;
}

.service__menu-item a {
  font-family: @Raleway;
  font-weight: 300;
  font-size: 18px;
  line-height: auto;
  color: #7d7d7d;
}

.service__menu-item--active a {
  font-weight: 600;
  color: #00203a;
}

.servise__list {
  .list-reset;
}

.service__item-heading {
  font-family: @PlayfairDisplay;
  font-weight: 500;
  font-size: 30px;
  line-height: auto;
  color: #00203a;
}

.service__project-count {
  font-weight: 400;
  color: #182c3d;
}

.service__button {
  padding: 20px 40px;

  font-weight: 800;
  font-size: 15px;
  line-height: auto;
  color: #00203a;
  text-transform: uppercase;

  border: 2px solid #00203a;
  background-color: transparent;
}
