.service {
  position: relative;

  .container {
    padding-top: 100px;
    padding-bottom: 65px;
  }
}

.service__heading {
  font-family: @PlayfairDisplay;
  font-weight: 700;
  font-size: 45px;
  line-height: auto;
  color: #00203a;
}

.service__content-wrapper {
  display: flex;
}

.service__menu-list {
  .list-reset;
  padding-top: 45px;
  width: 293px;
}

.service__menu-item {
  margin-bottom: 75px;
  width: 200px;

  &--active {
    margin-left: 35px;
  }
}

.service__menu-item a {
  display: block;

  font-family: @Raleway;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #7d7d7d;
}

.service__menu-item--active a {
  font-weight: 600;
  color: #00203a;
}

.servise__list {
  .list-reset;
}

.service__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 35px;
}

.service__image {
  margin-bottom: 55px;
  order: -1;

  img {
    display: block;
  }
}

.service__item-heading {
  .indent-reset;
  margin-bottom: 20px;
  width: 500px;

  font-family: @PlayfairDisplay;
  font-weight: 500;
  font-size: 30px;
  line-height: auto;
  color: #00203a;
  letter-spacing: 0.9px;
}

.service__project-count {
  margin-right: 5px;
  padding-top: 5px;

  font-weight: 400;
  color: #182c3d;
  font-size: 18px;
  letter-spacing: 0.5px;
}

.service__text {
  .indent-reset;
  width: 500px;
}

.service__button {
  margin-top: 55px;
  padding: 17px 40px;
  padding-right: 35px;

  font-weight: 800;
  font-size: 15px;
  line-height: auto;
  color: #00203a;
  text-transform: uppercase;
  letter-spacing: 1.6px;

  border: 2px solid #00203a;
  background-color: transparent;
  cursor: pointer;
}

// =============================== Tablet =========================

@media (max-width: @desktop) {
  .service {
    .container {
      padding-top: 220px;
      padding-bottom: 200px;
      max-width: 950px;
    }
  }

  .service__heading {
    letter-spacing: 0.5px;
  }

  .service__content-wrapper {
    flex-direction: column;
  }

  .service__menu-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
    padding-top: 20px;
    width: auto;
  }

  .service__menu-item {
    margin-bottom: 0;
    padding-right: 50px;
    padding-bottom: 20px;
    width: 50%;
    min-height: 103px;

    &--active {
      margin-left: 0;
    }
  }

  .service__menu-item a {
    font-size: 22px;
    line-height: 26px;
  }

  .service__menu-item--active a {
    font-size: 22px;
    color: #00203a;
  }

  .service__item {
    padding-top: 0;
  }

  .service__image {
    margin: 0 -37px;
    margin-bottom: 60px;
    width: 100vw;

    img {
      display: block;
      margin: 0 auto;
      height: 100%;
      object-fit: cover;
      object-position: 22% 50%;
    }
  }

  .service__project-count {
    font-weight: 400;
    font-size: 22px;
    color: #182c3d;
  }

  .service__button {
    margin-top: 30px;
    padding: 22px 85px;
    font-size: 18px;
  }
}

// =============================== Mobile =========================

@media (max-width: @tablet) {
  .service__text {
    font-size: 20px;
  }

  .service__item-heading {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);

    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .service__button {
    padding: 20px 40px;
  }
}
