@keyframes arrow-right {
  0% {
    transform: translateX(8px);
  }

  100% {
    transform: translateX(-5px);
  }
}

@keyframes arrow-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}
