@brand-color: rgba(245, 0, 73, 1);
@text-color: rgba(45, 40, 41, 1);
@background-color: rgba(255, 255, 255, 1);
@Muller: "Muller", "Arial", sans-serif;
@PlayfairDisplay: "Playfair Display", "Arial", sans-serif;
@Raleway: "Raleway", "Arial", sans-serif;
@tablet: 768px;
@desktop: 960px;
